body {
    /*font-family: "Arial";*/
    /*background-color: black;*/
    /*color: white;*/
}

.wd-search-tuiter {
    bottom: 7px;
    left: 10px;
}

.wd-nav-tabs {
    width: 100%;
    color: rgb(29,161,242);
    padding: 0px;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
}

.wd-nav-tabs .wd-selected {
    border-bottom: solid 4px rgb(29,161,242);
}